:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(0, 0%, 100%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

body {
    font-size: 15px;
    font-family: 'Itim';
    background-color: var(--veryLightGray);
    background-image: url(./tempbg.jpg);
    background-size: cover;
}

h3,h1{ 
    font-size: 20px; text-align: center; 
    color: hsl(0, 0%, 100%); 
    
}
/* .attribution a,h3 { 
    color: hsl(0, 0%, 100%); 
    
}

h1:first-of-type {
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);

}

h1:last-of-type {
    color: var(--varyDarkBlue);
} */

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}

.header {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 50px;
    margin-top: 100px;
}

.header p {
    margin: 0 auto;
    line-height: 2;
    color: var(--grayishBlue);
}


.box p {
    color: var(--grayishBlue);
}

.box {
    border-radius: 10px;
    /* box-shadow: 0px 30px 40px -20px var(--grayishBlue); */
    padding: 30px;
    margin: 20px;  
    background-color: rgba(255, 255, 255, 0.205);
    text-align: center;
}

.box input{
    text-align: center;
    font-size: 120%;
    border: none;
    background: none;
    color: white;
    justify-content: center;
}

.box input:focus{
    outline: none;
}

img {
    float: right;
}

.cyan {
    border-top: 3px solid var(--cyan);
}
.red {
    border-top: 3px solid var(--red);
}
.blue {
    border-top: 3px solid var(--blue);
}
.orange {
    border-top: 3px solid var(--orange);
}

h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}




@media (min-width: 780px) {

    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 10px;
    }
    .box {
        width: 20%;
        text-align: center;
     
    }
    .header p {
        width: 30%;
    }
    .box input{
        text-align: center;
        font-size: 150%;
        border: none;
        background: none;
        color: white;
    }
    
}